<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Панель управления официанта</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Ресторан - Официант</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Панель управления">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="mx-auto">
        <div class="collapse navbar-collapse" style="width: 100%;" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/officiant/stol}">Стол-Бронь<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/officiant/zakaz}">Заказы<span class="sr-only"></span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/documents/view/menu}">Выгрузка меню</a>
                </li>
            </ul>
        </div>
    </div>
    <form method="POST" th:action="@{/auth/login}" class="form-inline my-2 my-lg-0">
        <div sec:authentication="name" class="form-control mr-sm-2" type="label" aria-label="Username" style="user-select: none;"></div>
        <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Выйти"/>
    </form>
</nav>
<div style="position: absolute; left: 50%; transform:translate(-50%, 0)">
    <div style="position: absolute; left: 50%; transform:translate(-50%, 0)">
        <form th:method="POST" th:action="@{/officiant/zakaz/sostav/create/{id}(id=${zakazId})}">

            <div class="f">
                <label for="menu">Выберите блюдо</label>
                <br/>
                <select id="menu" style="width: 300px;" th:field="*{menuDto.id}" name="menuDto">
                    <option th:each="menu : ${menuList}"
                            th:value="${menu.id}"
                            th:text="${menu.bludo}">
                        Part name
                    </option>
                </select>
            </div>

            <div class="field">
                <label for="quantity">Количество: </label>
                <input type="number" th:field="*{sostav.quantity}" id="quantity" />
                <div style="color:red" th:if="${#fields.hasErrors('sostav.quantity')}" th:errors="*{sostav.quantity}">Name Error</div>
            </div>


            <input type="submit" value="Сохранить">
        </form>
    </div>
</div>
</body>
</html>