<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Изменение даты отпуска</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Ресторан - Директор - Бухгалтер</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Панель управления">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="mx-auto">
        <div class="collapse navbar-collapse" style="width: 100%;" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/director/postavshik}">Поставщик - Договор<span class="sr-only"></span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/director/sotrudnik}">Сотрудники<span class="sr-only"></span></a>
                </li>


                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/director/documents/view/postav}">Отчёт по поставкам</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/director/documents/view/spis}">Отчёт по списанным продуктам</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Выход</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div style="position: absolute; left: 50%; transform:translate(-50%, 0)">
    <div style="position: absolute; left: 50%; transform:translate(-50%, 0)">
        <form th:method="POST" th:action="@{/director/documents/spis}">

            <div class="field">
                <label for="beginDate">Начальная дата: </label>
                <input type="date" th:field="*{spisDto.beginDate}" id="beginDate" />
                <div style="color:red" th:if="${#fields.hasErrors('spisDto.beginDate')}" th:errors="*{spisDto.beginDate}">Name Error</div>
            </div>

            <div class="field">
                <label for="endDate">Конечная дата: </label>
                <input type="date" th:field="*{spisDto.endDate}" id="endDate" />
                <div style="color:red" th:if="${#fields.hasErrors('spisDto.endDate')}" th:errors="*{spisDto.endDate}">Name Error</div>
            </div>

            <input type="submit" value="Сформировать отчёт">
        </form>
    </div>
</div>
</body>
</html>