<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Изменение даты отпуска</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Ресторан - Администратор</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Панель управления">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="mx-auto">
        <div class="collapse navbar-collapse" style="width: 100%;" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/admin/commonAdminViev}">Стол-Бронь<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Выход</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div style="position: absolute; left: 50%; transform:translate(-50%, 0)">
    <div style="position: absolute; left: 50%; transform:translate(-50%, 0)">
        <form th:method="POST" th:action="@{/admin/reserv/create/{id}(id=${stolId}) }">

            <div class="f">
                <label for="fullName">Введите ФИО: </label>
                <input type="text" th:field="*{reserv.fullName}" id="fullName" />
                <div style="color:red" th:if="${#fields.hasErrors('reserv.fullName')}" th:errors="*{reserv.fullName}">Name Error</div>
            </div>
            <br/>
            <div class="f">
                <label for="dateReserv">Введите дату брони: </label>
                <input class="f" type="date" th:field="*{reserv.dateReserv}" id="dateReserv"/>
                <div style="color:red" th:if="${#fields.hasErrors('reserv.dateReserv')}" th:errors="*{reserv.dateReserv}">Age Error</div>
            </div>
            <br/>
            <div class="f">
                <label for="timeReserv">Введите время брони: </label>
                <input class="f" type="time" th:field="*{reserv.timeReserv}" id="timeReserv"/>
                <div style="color:red" th:if="${#fields.hasErrors('reserv.timeReserv')}" th:errors="*{reserv.timeReserv}">Email Error</div>
            </div>
            <br/>
            <div class="f">
                <label for="countPeople">Введите кол-во людей: </label>
                <input class="f" type="number" th:field="*{reserv.countPeople}" id="countPeople"/>
                <div style="color:red" th:if="${#fields.hasErrors('reserv.countPeople')}" th:errors="*{reserv.countPeople}">Email Error</div>
            </div>

            <br/>
            <input type="submit" value="Забронировать"/>
        </form>
    </div>
</div>
</body>
</html>