<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Изменение даты отпуска</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Ресторан - Бармен</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Панель управления">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="mx-auto">
        <div class="collapse navbar-collapse" style="width: 100%;" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/barman/prodaza}">Продажи<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Выход</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div style="position: absolute; left: 50%; transform:translate(-50%, 0)">
    <div style="position: absolute; left: 50%; transform:translate(-50%, 0)">
        <form th:method="POST" th:action="@{/barman/prodaza/update/{id}(id=${prodaza.getId()})}">
            <div class="field">
                <label for="dateProd">Дата продажи: </label>
                <input type="date" th:field="*{prodaza.dateProd}" id="dateProd" />
                <div style="color:red" th:if="${#fields.hasErrors('prodaza.dateProd')}" th:errors="*{prodaza.dateProd}">Name Error</div>
            </div>

            <div class="field">
                <label for="timeProd">Время продажи: </label>
                <input type="time" th:field="*{prodaza.timeProd}" id="timeProd" />
                <div style="color:red" th:if="${#fields.hasErrors('prodaza.timeProd')}" th:errors="*{prodaza.timeProd}">Name Error</div>
            </div>

            <div class="f">
                <label for="sotrud">Выберите сотрудника</label>
                <br/>
                <select id="sotrud" style="width: 300px;" th:field="*{sotrudnikDto.id}" name="sotrudnikDto">
                    <option th:each="sotrud : ${sotrudnikList}"
                            th:value="${sotrud.id}"
                            th:text="${sotrud.fio}">
                        Part name
                    </option>
                </select>
            </div>
            <input type="submit" value="Сохранить">
        </form>
    </div>
</div>
</body>
</html>